<div class="tabs2">
	<%= tab 'View', :action => :view, :id => @survey.id %>
	<%= tab 'Edit', :action => :edit, :id => @survey.id %>
	<%= tab 'Questions', :action => :questions, :id => @survey.id %>
	<%= tab 'Delete', :action => :delete, :id => @survey.id %>
	<div class="clear"></div>
</div>