<%= render :partial => 'nav' %>
<%= render :partial => 'sub_nav' %>
<%= render :partial => 'partial/errors', :locals => {:errors => @survey.errors.full_messages} %> 
<%= render :partial => 'partial/delete', :locals => {:name => @survey.name} %>