<tr>
	<th width="10%"></th>
	<th width="10%">total</th>
	<th width="10%">visit</th>
	<th width="10%">cancel</th>
	<th width="10%">noshow</th>
	<th width="10%">email</th>
	<th width="10%">noemail</th>
	<th width="10%">call</th>
	<th width="10%">web</th>
	<th width="10%">walk</th>
</tr>