<%= render :partial => 'nav' %>
<%= render :partial => 'sub_nav' %>
<h1>Delete Location</h1>
<%= render :partial => 'partial/errors', :locals => {:errors => @location.errors.full_messages} %> 
<%= render :partial => 'partial/delete', :locals => {:name => @location.name} %>