<h1><span class="eco"><b>eco</b>park</span> Special Collection Calendar and Household Hazardous Waste (HHW) Appointment Scheduler</h1>
<h2>Please Complete the Form Below</h2>
<%= render :partial => 'progress', :locals => {:num => 4} %>
<%= render :partial => 'appointments/form' %>