<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag '/fontawesome-free-5.6.3-web/css/all.min.css' %>
	<%= stylesheet_link_tag 'mobile' %>
	<%= javascript_include_tag 'jquery-3.4.1.min.js' %>
	<%= javascript_include_tag 'jquery-ui-1.12.1/jquery-ui.min.js' %>
	<title>ecopark/HHW</title>
</head>
<body>
<%= yield %>
</body>
</html>